.main {
    margin-top: 20rem;
    margin-bottom: 1rem;
    padding: 0 4rem;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        padding: 1rem;
        padding-left: 0;

        li {
            list-style: none;
            padding: 0 1rem;
            padding-left: 0;
            transition: .1s all ease-in;

            &:hover {
                color: greenyellow;
            }
        }


    }

}

.info {
    width: 50%;

    h3 {
        padding: .5rem 0;
    }

}

@media only screen and (max-width: 746px) {
    /* max-width 640px, mobile-only styles, use when QAing mobile issues */

    .main {
        margin-top: 0;
        padding: 0 2rem;

        ul {
            width: 100%;
            padding: 0 0 1rem 0;

            li {
                padding: 0 5px;
                font-size: 12px;
            }
        }


        .info {
            width: 100%;

            h3 {
                padding: 5px 0;
                font-size: 11px;
                text-decoration: underline;
                transition: .3s all ease;
            }

            // P{
            //     font-size: 12px;
            // }

        }
    }
}

.underline {
    text-decoration: underline;
}