.yellowGreen {
    color: rgb(78, 223, 83);
    transition: .2s all ease-in;

}

.heading {
    text-align: center;
    padding: 3rem;
}

.title {
    font-size: 35px;
    font-weight: 1000;
    color: rgb(78, 223, 83);
    margin: 5rem;
    margin-bottom: 8rem;
    text-align: center;
}

.main {
    width: 100%;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    gap: 13rem 7rem;
    align-items: center;
    justify-content: center;

    li {
        height: 350px;
        width: 285px;
        list-style: none;

        img {
            height: 350px;
            width: 285px;

        }

        p {
            padding-top: 1rem;
        }
    }
}



.btmCard {
    display: flex;
    align-items: center;
    justify-content: space-between;


}





@media only screen and (max-width: 740px) {

    /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    .main {
        width: 90%;
        display: flex;
        margin: 3rem 1rem;
        margin-bottom: 15rem;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;

        align-items: center;
        float: left;
        gap: 10rem 2rem;

        li {

            height: 250px;
            width: 185px;
            list-style: none;


            img {
                height: 250px;
                width: 185px;

            }

            p {
                padding-top: .3rem;
                font-size: 14px;
            }
        }
    }



    .btmCard {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }


}

@media only screen and (max-width: 500px) {

    .main {
        width: 100%;
        display: flex;
        margin: 1rem 1rem;
        padding: 0 1rem;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: auto;
        align-items: center;
        float: left;
        gap: 1rem 1rem;

        li {

            height: 250px;
            width: 125px;
            list-style: none;


            img {
                height: 150px;
                width: 125px;

            }

            p {
                padding-top: .3rem;
                font-size: 9px;
            }
        }
    }
}