

.yellowGreen{
    color: rgb(78, 223, 83);
    transition: .2s all ease-in;
  
} 

.heading{
    text-align: center;
    padding: 3rem;
}
.title{
    font-size: 35px;
    font-weight: 1000;
    color: rgb(78, 223, 83);
    margin: 5rem;
    margin-bottom: 8rem;
    text-align: center;
}
.main{
    width: 100%;
    display: grid;
    margin: auto;
    gap: 13rem 7rem;
    grid-template-columns: repeat(auto-fill, 286px);   
    align-items: center;
    justify-content: center;     
    li{
        height: 400px;
        width: 325px;
        list-style: none;
        margin: auto;
        img{
            margin: auto;
            height: 400px;
        width: 325px;

        }
        p{
            padding-top: 1rem;
        }
    }
}



.btmCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    .seeInfoBtn{
        border: 3px solid rgb(78, 223, 83);
        padding: .3rem .8rem;
        border-radius: 5px;
        transition: .3s all ease-in;
        color: rgb(255, 255, 255);
        &:hover{
            border: 2px solid rgb(255, 255, 255);
            color: rgb(78, 223, 83) ;
        }
    }

}




/// inner card styling
.yellowGreen{
        color: yellowgreen;
    }
    .card{
        display: flex;
        padding-top: 2rem;
        justify-content: center;
        .cardInfo{
            display: flex;
            flex-direction: column;  
            align-items: flex-start; 
            justify-content: space-between;
            padding: 2rem;
            padding-top: 0;
            width: 50%;
    
        }
    }
   
    @media only screen and (max-width: 40em) { /* max-width 640px, mobile-only styles, use when QAing mobile issues */
        .card{
            width: 80%;
            margin: auto;
            flex-direction: column;
            
            align-items: center;
            justify-content: center;
            .imgCont{
                height: 280px;
                width: 180px;
                img{
                    height: 280px;
                    width: 180px;
                }
            }
            .cardInfo{
                display: block;  
                padding: 0rem;
                width: 70%;
                padding: 2rem 0 0 0;
                text-align: center;

                h2{font-size: 16px;}
                h3{font-size: 13px;}
        
            }
        }
        
    } 
    
    @media only screen and (max-width: 25em) { 
        .card {
            .imgCont{
                height: 240px;
                width: 150px;
                img{
                    height: 240px;
                    width: 150px;
                }
            }
       
        .cardInfo{
            width: 100%;
            padding-right: 0;
            h2{font-size: 12px;}
            h3{font-size: 10px;}
        }
    
    } 
    }