.container{
    height: auto;
    width: 100%;
    .hero{
        height: auto;
    width: 100%;    

    }

}


@media only screen and (max-width: 746px) {
    .container{
        height: 467px;
        width: auto;
        .hero{
            height: 467px;
        width: auto;
        }
    }
}