/* info styling */
.container {
  h1 {
    text-align: center;
    color: yellowgreen;
  }

  p {
    color: rgb(196, 235, 248);
    text-align: center;
    margin-top: 1rem;

  }

  .info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 4rem auto;

    ul {
      background: rgba(0, 187, 255, 0.141);
      border-radius: 6px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(8.1px);
      -webkit-backdrop-filter: blur(8.1px);
      list-style: none;
      display: grid;
      padding: 3rem 3rem;
      justify-content: space-evenly;
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    li {
      padding-bottom: 0.5rem;
    }
  }
}

.underline {
  text-decoration: underline;
}

@media only screen and (max-width: 746px) {

  /* max-width 640px, mobile-only styles, use when QAing mobile issues */
  .container {
    .info {
      ul {
        padding: 3rem 1rem;

        li {
          font-size: 11px;
        }
      }
    }
  }

}