.yellowGreen {
    color: rgb(78, 223, 83);
    transition: .2s all ease-in;

}
.mr{
    margin-right: .5rem;
}
.heading {
    text-align: center;
    padding: 3rem;
}

.title {
    font-size: 35px;
    font-weight: 1000;
    color: rgb(78, 223, 83);
    margin: 5rem;
    margin-bottom: 8rem;
    text-align: center;
}

.main {
    width: 100%;
    display: grid;
    margin: auto;
    gap: 13rem 7rem;
    grid-template-columns: repeat(auto-fill, 286px);
    align-items: center;
    justify-content: center;

    li {
        height: 350px;
        width: 285px;
        list-style: none;
        margin: auto;

        img {
            margin: auto;
            height: 350px;
            width: 285px;

        }

        p {
            padding-top: 1rem;
        }
    }
}

@media only screen and (max-width: 740px) {

    /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    .main {
        width: 90%;
        display: flex;
        margin: 3rem 1rem;
        margin-bottom: 15rem;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;

        align-items: center;
        float: left;
        gap: 10rem 2rem;

        li {

            height: 950px;
            width: 185px;
            list-style: none;


            img {
                height: 950px;
                width: 185px;

            }

            p {
                padding-top: .3rem;
                font-size: 14px;
            }
        }
    }




    .main .btmCard {
        display: block;

        P {
            margin-bottom: .5rem;

            .seeInfoBtn {
                font-size: 11px;
                border: 2px solid rgb(78, 223, 83);
                padding: .3rem .8rem;
                border-radius: 5px;
                transition: .3s all ease-in;
                color: rgb(255, 255, 255);

                &:hover {
                    border: 1px solid rgb(255, 255, 255);
                    color: rgb(78, 223, 83);
                }
            }
        }

    }


}


@media only screen and (max-width: 500px) {

    .main {
        width: 100%;
        display: flex;
        margin: 3rem 1rem 5rem 1rem;
        padding: 0 1rem;
        align-items: center;
        align-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        float: left;
        gap: 1rem 1rem;

        li {

            height: 250px;
            width: 425px;
            list-style: none;


            img {
                height: 150px;
                width: 125px;

            }

            p {
                padding-top: .3rem;
                font-size: 11px;
            }

            h4 {
                font-size: 11px;
            }
        }
    }
}





.btmCard {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .seeInfoBtn {
        border: 3px solid rgb(78, 223, 83);
        padding: .3rem .8rem;
        border-radius: 5px;
        transition: .3s all ease-in;
        color: rgb(255, 255, 255);

        &:hover {
            border: 2px solid rgb(255, 255, 255);
            color: rgb(78, 223, 83);
        }
    }

}




/// inner card styling
.yellowGreen {
    color: yellowgreen;
}

.card {
    display: flex;
    padding-top: 2rem;
    justify-content: center;

    .cardInfo {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2rem;
        padding-top: 0;
        width: 50%;

    }
}

@media only screen and (max-width: 40em) {

    /* max-width 640px, mobile-only styles, use when QAing mobile issues */
    .card {
        width: 80%;
        margin: auto;
        flex-direction: column;
        margin: 5rem auto;

        align-items: center;
        justify-content: center;

        .imgCont {
            height: 280px;
            width: 180px;

            img {
                height: 280px;
                width: 180px;
            }
        }

        .cardInfo {
            display: block;
            padding: 0rem;
            width: 70%;
            padding: 2rem 0 0 0;
            text-align: center;

            h2 {
                font-size: 18px;
            }

            h3 {
                font-size: 16px;
            }

        }
    }

}

@media only screen and (max-width: 25em) {
    .card {
        margin: 5rem auto;

        .imgCont {
            height: 100%;
            width: 100%;

            img {
                height: 100%;
                width: 100%;
            }
        }

        .cardInfo {
            width: 100%;
            padding-right: 0;

            h2 {
                font-size: 18px;
            }

            h3 {
                font-size: 16px;
            }

        }

    }
}